@media (max-width: 768px) {
    .container__big-card {
        width: 100%;
        height: auto;
        margin: 10px;
    }

    .big-card__photo > img {
        max-width: 100%;
        min-width: unset;
        height: auto;
    }

    .big-card__title > a {
        font-size: 18px;
        margin-top: 10px;
    }

    .big-card__description > p {
        margin-top: 10px;
        font-size: 14px;
        color: gray;
    }
}