<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://s2-techtudo.glbimg.com/7JZ5j1VD4yJt1LVWLuE7IPeow4E=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/t/m/QGZAUMTRiMoy4EdY1AOg/the-flash.jpg" height="200px"  alt="artigo" srcset="">
    </div>

        <div class="big-card__title">
            <a href=""> A versão do angular</a>
        </div>
        <div class="big-card__description">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet volutpat massa. Nam quis sem sem. Nullam fermentum arcu eget eros rhoncus finibus id vel enim. Phasellus sit amet viverra sapien. Morbi dapibus gravida elit a pharetra. Donec imperdiet, felis sollicitudin tempus iaculis, orci mi congue erat, sed sodales purus magna ut magna</p>
        </div>  


</div>